.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 60px;
}

.department-container {
  width: 90%;
  margin-top: 40px;
}

.department-name {
  font-size: 16px;
  margin-bottom: 24px;
}

.department {
  padding: 20px;
  padding-bottom: 6px;
  margin: 20px;
  margin-top: 0;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.view-actions {
  display: flex;
  justify-content: space-between;

  & button {
    padding: 0 !important;
  }
}
