.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: black;
  padding: 12px;
  margin-left: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.sidebar a:first-child {
  margin-top: 16px;
}

.sidebar a.active span {
  color: #228be6;
}
